fieldset{
    width: 500px;
    border-radius: 20px;
    background:#DDD;
    height: 230px;
}
legend{
    background: #222;
    color: #EEE;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 10px;
    letter-spacing: 3px;
    font-variant: small-caps;

}
label, input{
    width: 200px;
    margin: 5px;
    padding: 3px;
    float: left;

}
label{
    font-weight: bold;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
}