.choices{
    float:right;
    margin-left: 40px;
    padding: 20px;
};
.fullscreen-image-slider .orbit-image {
    width: 100%;
    height: 100vh;
  }
  
  .fullscreen-image-slider .orbit-caption {
    bottom: 50%;
    -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
            transform: translateY(50%);
    background: none;
    text-align: center;
    color: #fefefe;
    font-weight: bold;
  }
  .C1{
    margin: 20px;
    border-top: red;
    padding-top: 20px;
  }